.about {
  padding: 16px;
  @media (max-width: 770px) {
    .title {
      font-size: 2rem !important;
    }
    .content {
      font-size: 1.2rem !important;
    }
  }
}

#about {
  transform: translateY(-68px);
}
