@import "../../styleguide.scss";

.section.contact {
  .container {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;

    min-height: calc(50vh - 69px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {
      color: white;
    }

    * {
      margin-bottom: $margin;
    }

    .title {
      margin-top: $margin * 2;
      h3 {
        font-size: $introduction-text-size * 1.8;
        font-weight: 500;
        color: $main;
      }
      hr {
        border: 1px solid $main;
      }
    }

    .contact-options {
      margin-left: 15px;
      display: flex;
      .flex-e {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: $padding $padding * 4;
      }
    }

    .social ul {
      display: flex;
      font-size: 1.5rem;
      margin-bottom: 0;

      .flex-e {
        padding: 0 $padding;
        i {
          transition: all 0.2s ease-in-out;
        }
        i:hover {
          transition: all 0.2s ease-in-out;
          //   color: darken($white, 30%);
          color: $main;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .container {
      padding: 0;
      .contact-options {
        margin: 0;
        width: 100%;
        flex-direction: column;
      }
    }
  }
}
