@import "../../styleguide.scss";

.navbar {
  background-color: darken($black, 3%);
  .container {
    ul {
      li {
        a {
          color: $white;
        }
        a:hover {
          transition: color 0.2s linear;
          color: darken($white, 20%);
        }
        a.active {
          color: $main;
          border-bottom: 1px solid $main;
          a {
            color: $main;
          }
        }
      }
    }
  }
}

.hamb-menu {
  width: 0px;
  transition: width 0.2s ease-in-out;
  ul {
    min-width: 240px;
    a.border-bottom {
      box-sizing: border-box;
      border-bottom: 1px solid $black;
    }
  }
}

.clicable-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-in-out;
}

.clicable-bg.open {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.hamb-menu.open {
  width: 240px;
}
