@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./styleguide.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.section:nth-child(odd) {
  background-color: $black;
}
.section:nth-child(even) {
  background-color: lighten($black, 2%);
}
