/* CSS Summary
------------------------------------------
1. General
2. Sections
------------------------------------------
*/

/*------------------------------------
1. General
------------------------------------*/

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./styleguide.scss";

html {
  scroll-behavior: smooth;

}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  // .container {
  //   width: 100%;
  // }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

/*------------------------------------
2. Sections
------------------------------------*/

.section:nth-child(odd) {
  background-color: $black;
}
.section:nth-child(even) {
  background-color: lighten($black, 2%);
}
